<li class="toproot">
  <%= link_to "Thông tin cán bộ", casein_can_bo_thong_tins_url %>
    <ul>
        <li><%= link_to "Thông tin cá nhân", casein_can_bo_thong_tins_url %></li>
        <li><%= link_to "Lý lịch chính trị", casein_can_bo_li_lich_cts_url %></li>
        <li><%= link_to "Thông tin thân nhân", casein_than_nhans_url %></li>
        <li><%= link_to "Quan hệ thân nhân", casein_quan_he_gia_dinhs_url %></li>
        <li><%= link_to "Thông tin công tác", casein_can_bo_cong_tacs_url %></li>
        <li><%= link_to "Lịch sử công tác", casein_qua_trinh_cong_tacs_url %></li>
        <li><%= link_to "Quyết định", casein_quyet_dinhs_url %></li>
        <li><%= link_to "Loại quyết định", casein_loai_quyet_dinhs_url %></li>
      <li><%= link_to "Quân hàm", casein_cap_bac_quan_dois_url %></li>
      <li><%= link_to "Hạng thương binh", casein_hang_thuong_binhs_url %></li>
    </ul>
</li>
<li class="topmenu"><%= link_to "Quản lý đơn vị", casein_don_vis_url %></li>
<li class="topmenu"><%= link_to "Quản lý trình độ", casein_can_bo_trinh_dos_url %>
  <ul>
    <li><%= link_to "Văn bằng chứng chỉ", casein_can_bo_trinh_dos_url %></li>
    <li><%= link_to "Trình độ chuyên môn", casein_trinh_do_chuyen_mons_url %></li>
    <li><%= link_to "Quản lý nhà nước", casein_quan_ly_nha_nuocs_url %></li>
    <li><%= link_to "Lý luận chính trị", casein_ly_luan_chinh_tris_url %></li>
    <li><%= link_to "Học hàm", casein_hoc_hams_url %></li>
    <li><%= link_to "Học vị", casein_hoc_vis_url %></li>

  </ul>
</li>
<li class="topmenu"><%= link_to "Thông tin bậc lương", casein_lich_su_bac_luongs_url %>
    <ul>
      <li><%= link_to "Lịch sử ngạch bậc", casein_lich_su_bac_luongs_url %></li>
      <li><%= link_to "Ngạch", casein_ngaches_url %></li>
      <li><%= link_to "Bậc lương", casein_bac_luongs_url %></li>
    </ul>
</li>
<li class="toplast"><%= link_to "Hệ thống" %>
  <ul>
    <li><%= link_to "Tham số", casein_params_url %></li>
  </ul>
</li>

<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='index.html'><span>Cán bộ - Thông tin</span></a>
      <ul>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li class='last'><a href='#'><span>Item</span></a></li>
      </ul>
   </li>
   <li><a href='#'><span>Đơn vị</span></a></li>
   <li class='has-sub'><a href='#'><span>Cán bộ - Trình độ</span></a>
      <ul>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li><a href='#'><span>Item</span></a></li>
         <li class='last'><a href='#'><span>Item</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>Lương</span></a>
      <ul>
         <li><a href='#'><span>Product 1</span></a></li>
         <li><a href='#'><span>Sub Item</span></a></li>
         <li class='last'><a href='#'><span>Sub Item</span></a></li>
      </ul>
   </li>
   <li class='has-sub last'><a href='#'><span>Hệ thống</span></a>
      <ul>
         <li><a href='#'><span>Sub Item</span></a></li>
         <li class='last'><a href='#'><span>Sub Item</span></a></li>
      </ul>
   </li>
</ul>
</div>
