<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Quyết định", casein_quyet_dinhs_path, :title => "Quyết định" %></li>
<li id="visitSite"><%= link_to "Loại quyết định", casein_loai_quyet_dinhs_path, :title => "Loại quyết định" %></li>
<li id="visitSite"><%= link_to "CB-Trình độ", casein_can_bo_trinh_dos_path, :title => "Cán bộ trình độ" %></li>
<li id="visitSite"><%= link_to "Trình độ CM", casein_trinh_do_chuyen_mons_path, :title => "Trình độ chuyên môn" %></li>
<li id="visitSite"><%= link_to "Học Hàm", casein_hoc_hams_path, :title => "Học hàm" %></li>
<li id="visitSite"><%= link_to "Học vị", casein_hoc_vis_path, :title => "Học vị" %></li>
<li id="visitSite"><%= link_to "CB-Lí lịch CT", casein_can_bo_li_lich_cts_path, :title => "Cán bộ lí lịch chính trị" %></li>
<li id="visitSite"><%= link_to "Thân nhân", casein_than_nhans_path, :title => "Cán bộ thân nhân" %></li>
<li id="visitSite"><%= link_to "Tham số", casein_params_path %></li>
<li id="visitSite"><%= link_to "CB-Thông tin", casein_can_bo_thong_tins_path, :title => "Cán bộ thông tin" %></li>