<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="visitSite"><%= link_to "Quá Trình Công Tác", casein_qua_trinh_cong_tacs_path %></li>
<li id="visitSite"><%= link_to "CB-Công Tác", casein_can_bo_cong_tacs_path %></li>
<li id="visitSite"><%= link_to "Đơn Vị", casein_don_vis_path %></li>
<li id="visitSite"><%= link_to "Chức Vụ", casein_chuc_vus_path %></li>
<li id="visitSite"><%= link_to "Lịch Sử Lương", casein_lich_su_bac_luongs_path %></li>
<li id="visitSite"><%= link_to "Bậc Lương", casein_bac_luongs_path %></li>
<li id="visitSite"><%= link_to "Ngạch", casein_ngaches_path %></li>
<li id="visitSite"><%= link_to "CB-Trình độ", casein_can_bo_trinh_dos_path, :title => "Cán bộ trình độ" %></li>
<li id="visitSite"><%= link_to "Quyết định", casein_quyet_dinhs_path, :title => "Quyết định" %></li>
<li id="visitSite"><%= link_to "CB-Lí lịch CT", casein_can_bo_li_lich_cts_path, :title => "Cán bộ lí lịch chính trị" %></li>
<li id="visitSite"><%= link_to "Thân nhân", casein_than_nhans_path, :title => "Cán bộ thân nhân" %></li>
<li id="visitSite"><%= link_to "CB-Thông tin", casein_can_bo_thong_tins_path, :title => "Cán bộ thông tin" %></li>