<div class="blk-share">
<% unless @errors.nil? %>
    <h1>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h1>

    <% @errors.each do |mgs| %>
        <p>Dòng thứ: <%= mgs[0]%> Lỗi: <%= mgs[1] %> </p>
    <% end %>
<% end %>
</div>

<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới chuyên ngành".html_safe, new_casein_chuyen_nganh_path %></li>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới chuyên ngành từ file excel".html_safe, import_from_excel_casein_chuyen_nganhs_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách chuyên ngành".html_safe, casein_chuyen_nganhs_path %></li>
<% end %>