
<h1>Nhập dữ liệu từ tập tin excel</h1>
<h2>Lựa chọn tập tin</h2>
<%= form_tag(parse_save_from_excel_casein_can_bo_trinh_dos_path, :multipart => true) do %>

<p>
  <%= file_field_tag 'excel_file' %>
</p>
<p>
  <%= submit_tag "Lưu dữ liệu", :disable_with => "Đang xử lý dữ liệu..." %>
</p>
<% end %>

<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới trinh độ cán bộ".html_safe, new_casein_can_bo_trinh_do_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách trinh độ cán bộ".html_safe, casein_can_bo_trinh_dos_path %></li>
<% end %>