<div class="blk-share"
<% unless @errors.nil? %>
    <h2>Kết quả nhập dữ liệu từ tập tin excel</h2>
    <h1>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h1>

    <table class="import_table">
      <tr>
        <th>STT dòng</th>
        <th>Nội dung</th>
      </tr>
      <% @errors.each do |mgs| %>
          <tr>
            <td>Dòng <%= mgs[0]%></td>
            <td><%= mgs[1] %></td>
          </tr>
      <% end %>

    </table>
<% end %>
</div>

<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới trình độ cán bộ".html_safe, new_casein_can_bo_trinh_do_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới trình độ cán bộ từ tập tin excel".html_safe, import_from_excel_casein_can_bo_trinh_dos_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách trình độ cán bộ".html_safe, casein_can_bo_trinh_dos_path %></li>
<% end %>