<div class="blk-share">
<h2>Tùy chỉnh thông tin website</h2>
<%= form_tag(save_change_config_casein_params_path, :multipart => true) do %>

<p><b style="text-transform: uppercase;">Tên website: </b>
	<br><b style="text-transform: uppercase;"><%= casein_config_website_name %></b><br> 
	Nội dung thay đổi: <%= text_field_tag 'website_name', casein_config_website_name, style:"width: 500px; padding: 5px;" %></p>
<p><b style="text-transform: uppercase;">Lo go: </b> <br>
	<%= image_tag(casein_config_logo, :alt => casein_config_website_name, :size => "50x50") %>
	<br>
	Chọn tập tin thay thế: <%= file_field_tag 'lo_go' %>
</p>
<p><b style="text-transform: uppercase;">Favicon: </b><br>
	<%= image_tag(casein_config_favicon, :alt => casein_config_website_name, :size => "50x50") %>
	<br>
	Chọn tập tin thay thế: <%= file_field_tag 'favicon' %></p>
<p>
  <%= submit_tag "Lưu thay đổi", :disable_with => "Đang xử lý dữ liệu..." %>
</p>
<% end %>
</div>
