<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Chào mừng đến với <%= casein_config_website_name %></title>
        <link rel="icon" type="image/png" href="<%= casein_config_logo %>" />
		<%= stylesheet_link_tag "/casein/stylesheets/login" %>
		<%= javascript_include_tag "/casein/javascripts/jquery", "/casein/javascripts/login", "/casein/javascripts/rails" %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div id="header">

          <h4><%= image_tag(casein_config_logo, :alt => casein_config_website_name, :size => "50x50") %>
            <div style="font-family: tahoma, arial; margin-top: 0px;"><%= Param.get_param_value("website_name") %></div>
          </h4>
		</div>
		<div id="content">
			<%= yield %>
		</div>
		<div id="footer">
			<p>Dựa trên công nghệ <%= link_to "Casein", "http://www.caseincms.com" %> <%= casein_get_short_version_string %>,
			một dự án mã nguồn mở được thành lập bởi <a href="http://www.spoiledmilk.dk">Spoiled Milk</a>.</p>
		</div>
	</body>
</html>