
<div class="blk-share">
<% unless @errors.nil? %>
    <h2>Kết quả nhập dữ liệu từ tập tin excel</h2>
    <h1>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h1>
    <table class="import_table">
      <tr>
        <th>STT dòng trong excel</th>
        <th>Nội dung</th>
      </tr>
      <% @errors.each do |mgs| %>
      <tr>
        <td>Dòng&nbsp;<%= mgs[0]%>&nbsp;:</td>
        <td><%= mgs[1]%></td>
      </tr>
      <% end %>
    </table>
<% end %>
</div>

<%= content_for :sidebar do %>
    <li>
      <%= link_to "#{casein_show_icon "statistics"}Báo cáo - Thống kê".html_safe, 
            statistic_total_casein_can_bo_thong_tins_path %>
    </li>
    <li><%= link_to "#{casein_show_icon_custom_style("search", "width:20px; margin-top:-5px;")}Tìm kiếm nâng cao".html_safe, advance_search_casein_can_bo_thong_tins_path %></li>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới cán bộ".html_safe, new_casein_can_bo_thong_tin_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới cán bộ từ tập tin excel".html_safe, import_from_excel_casein_can_bo_thong_tins_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách cán bộ".html_safe, casein_can_bo_thong_tins_path %></li>
<% end %>