<div class="blk-share" style="float: left; width: 97%;">
  
  <h2>Chi tiết thống kê</h2>
  <div class="paragraph stat toggle">
    <%= form_tag statistic_casein_can_bo_thong_tins_path, :method => "get" do %>
        
        <div class="tfContainer">
          <label>Thống kê theo đơn vị (*): <br> 
            <%= select_tag  "don_vi_id", 
                            options_from_collection_for_select( DonVi.all, 
                                                                "id", 
                                                                "ten_don_vi", 
                                                                :selected => params["don_vi_id"]
                                                              ),{:multiple => true} %> 
          </label>
        </div>
        

        
        <div class="tfContainer tfContainerSecond">
          <label>Thống kê theo học hàm (*): <br>
            <%= select_tag "hoc_ham_id", 
                            options_from_collection_for_select( HocHam.all, 
                                                                "id", 
                                                                "ten_hoc_ham", 
                                                                :selected => params["hoc_ham_id"]
                                                              ),{:multiple => true}  %> 
          </label>
        </div>
        
       
        <div class="tfContainer">
          <label>Thống kê theo học vị (*): <br>
            <%= select_tag "hoc_vi_id", 
                            options_from_collection_for_select( HocVi.all, 
                                                                "id", 
                                                                "ten_hoc_vi", 
                                                                :selected => params["hoc_vi_id"]
                                                              ),{:multiple => true}  %>
          </label>
        </div>
       

        
        <div class="tfContainer tfContainerSecond">
          <label>Thống kê theo ngạch (*): <br>
            <%= select_tag  "ngach_id", 
                            options_from_collection_for_select( Ngach.all, 
                                                                "id", 
                                                                "ten_ngach", 
                                                                :selected => params["ngach_id"]
                                                              ),{:multiple => true}  %>
          </label>
        </div>
        

        
        <div class="tfContainer">
          <label>Thống kê theo số năm công tác (trở lên): <br>
            <%= select_tag  "nam_cong_tac", 
                            options_for_select( Array(1..50),
                                                :selected => params["nam_cong_tac"]
                                              ),{:prompt => "-----------Chọn----------"} %>
          </label>
        </div>
        

        
        <div class="tfContainer tfContainerSecond">
          <label class="spec_label">Thống kê theo năm sinh: <br>
            <%= select_tag  "nam_sinh_tu", 
                            options_for_select( Array(1930..Time.current.year),
                                                :selected => params["nam_sinh_tu"]
                                              ),
                                              {
                                                :prompt => "-----------Chọn----------",
                                                :class => "spec",
                                                :title => "Từ năm"
                                              } %>
          </label>
          <label class="spec_mid_label"><%= casein_show_icon("data-next") %></label>
          <label class="spec_label">&nbsp;<br>
            <%= select_tag  "nam_sinh_den", 
                            options_for_select( Array(1930..Time.current.year),
                                                :selected => params["nam_sinh_den"]
                                              ),
                                              {
                                                :prompt => "-----------Chọn----------",
                                                :class => "spec",
                                                :title => "Đến năm"
                                              } %>
          </label>
        </div>
        

        
        <div class="tfContainer">
            <label>Thống kê theo đảng viên: <br>
              <%= select_tag  "dang_vien", 
                              options_for_select( [  
                                                    ["Là Đảng viên", true], 
                                                    ["Không là Đảng viên", false]
                                                  ], 
                                                  :selected => params["dang_vien"]
                                                ),
                                                {
                                                  :prompt => "-----------Chọn----------"
                                                } %>
            </label>
        </div>
        

        
        <div class="tfContainer tfContainerSecond">
          <label>Thống kê theo giới tính: <br>
            <%= select_tag  "gioi_tinh", 
                            options_for_select( [  
                                                  ["Nam", true], 
                                                  ["Nữ", false]
                                                ], 
                                                :selected => params["gioi_tinh"]
                                              ),
                                              {
                                                :prompt => "-----------Chọn----------"
                                              } %>
          </label>
        </div>
        

        
        <div class="tfContainer">
          <label>Thống kê theo dân tộc: <br>
            <%= select_tag  "dan_toc", 
                            options_for_select( [ 
                                                  ["Kinh", true], 
                                                  ["Thiểu số", false]
                                                ], 
                                                :selected => params["dan_toc"]
                                              ),
                                              {
                                                :prompt => "-----------Chọn----------"
                                              }  %>
          </label>
        </div>
        

        
        <div class="tfContainer tfContainerSecond">
          <label>Thống kê theo gia đình chính sách: <br>
            <%= select_tag  "gia_dinh_chinh_sach", 
                            options_for_select( [ 
                                                  ["Thuộc diện chính sách", true], 
                                                  ["Không thuộc diện chính sách", false]
                                                ], 
                                                :selected => params["gia_dinh_chinh_sach"]
                                              ),
                                              {
                                                :prompt => "-----------Chọn----------"
                                              }  %>
          </label>
        </div>
        

        <p style="font-style:italic; font-size: 11px; color: gray;"> (*) Bấm giữ phím CTRL hoặc SHIFT để chọn nhiều hoặc bỏ chọn</p>
        <%= hidden_field_tag "statistic_req", true %>
        <p style="text-align: right;">
          <%= submit_tag "Thống kê", :style => "text-align: right; padding: 5px 12px; margin-right: 25px;"%>
        </p>
    <% end %>

  </div>
</div>

<% if @has_result %>

    <div class="second_paragraph">
      <div class="blk-share" style="width:97%;">
        <h2>Kết quả thống kê <div style="float: right; text-transform:none; margin-right: 5px; color:white;"> Tổng số kết quả tìm thấy: <%= @can_bo_thong_tins.count %> / <%= CanBoThongTin.all.count %></div> </h2>
        <%= render  :partial => 'casein/can_bo_thong_tins/table_static_result', 
                    :locals => { :can_bo_thong_tins => @can_bo_thong_tins } %>

        <%= will_paginate @can_bo_thong_tins, 
          :previous_label => '&#8592; Trước', 
          :next_label => 'Sau &#8594;' %>

      </div>
    </div>
<% end %>


<%= content_for :sidebar do %>
    <li>
      <%= link_to "#{casein_show_icon_custom_style("search", "width:20px; margin-top:-5px;")}Tìm kiếm nâng cao".html_safe, 
            advance_search_casein_can_bo_thong_tins_path %>
    </li>
    <li>
      <%= link_to "#{casein_show_icon "add"}Thêm mới thông tin cán bộ".html_safe, 
                    new_casein_can_bo_thong_tin_path %>
    </li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới cán bộ từ tập tin excel".html_safe, import_from_excel_casein_can_bo_thong_tins_path %>
    </li>
    <li>
    <%= link_to "#{casein_show_icon_custom_style("custom_download", "width:20px; margin-top:-5px;")}Tùy chọn nội dung xuất ra excel".html_safe, 
                custom_export_data_casein_can_bo_thong_tins_path %>
    </li>
    <li>
      <%= link_to "#{casein_show_icon "table"}Danh sách thông tin cán bộ".html_safe, 
                    casein_can_bo_thong_tins_path %>
    </li>
<% end %>