<div class="blk-share" style="float: left; width: 97%;">
  	<h2>Thống kê cán bộ theo loại lao động </h2>
  	<% unless params[:f] %>
  	<div class="paragraph stat toggle">
  		<%= form_tag statistic_by_loai_lao_dong_casein_can_bo_thong_tins_url, :method => :get do %>
  		<div class="tfContainerFullWidth"><p style="font-weight:bold;">(1). Chọn các đơn vị cần thống kê:</p>
			<div class="overflow_scroll">
				<ul style="margin-left:20px;">
					<li><%= check_box_tag "dv_all", true%><label for="dv_all"> &nbsp;Tất cả đơn vị</label>
		  				<ul style="margin-left:20px;">
			  				<% DonVi.all.each do |dv| %>
							
								<li><label for="dv_<%= dv.id %>"><%= check_box_tag "dv_#{dv.id}", true %> <%= dv.ten_don_vi %></label></li>
							
							<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>

  		<div class="tfContainerFullWidth"><p style="font-weight:bold;">(2). Chọn các loại lao động cần thống kê:</p>
	  		<div class="overflow_scroll">
	  			<ul style="margin-left:20px;">
	  				<li><%= check_box_tag "lld_all", true%><label for="lld_all"> &nbsp;Tất cả loại lao động</label>
	  					<ul style="margin-left:20px;">
			  			<% LoaiLaoDong.all.each do |lld| %>
						
							<li><label for="lld_<%= lld.id %>"><%= check_box_tag "lld_#{lld.id}", true %> <%= lld.ten_loai_lao_dong %></label></li>
						
						<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>


  		<div class="tfContainerFullWidth" >
       		<p>
       			<%= hidden_field_tag :f, 1 %>
       			<%= submit_tag "Thống kê", :style => "text-align: right; padding: 5px 12px; margin-right: 25px;"%>
       		</p>
		</div>
  		<% end %>
  	<% else %>
		<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
			<tr>
				<th>Tên đơn vị</th>
				<% @loai_lao_dongs.map do |td| %>
					<td colspan="3"><%= td %></td>
				<% end %>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<% @loai_lao_dongs.map do |td| %>
					<td>Nam</td>
					<td>Nữ</td>
					<td>+</td>
				<% end %>			
			</tr>
			<% @hash.each do |h| %>
			<tr>
				<th align="center"><%= DonVi.find(h[0]).ten_don_vi %></th>
				<% h[1].map do |r| %>
					<% r[1].each do |k, v|%>
						<td><%= v %></td>
					<% end %>
				<% end %>
			</tr>
			<% end %>
			
		</table> 
		<p class="submits">
			<% unless @hash.empty? %>
				<%= link_to "Xuất nội dung ra excel ", "#{statistic_by_loai_lao_dong_casein_can_bo_thong_tins_url(:format => :xls)}?#{ @params.join("&") }", :class=> "update", :style => "text-decoration:none; color: #fff;" %>
			<% end %>
		</p>
  	<% end %>
</div>