<div class="blk-share" style="float: left; width: 97%;">

  	<h2>Thống kê cán bộ theo loại lao động </h2>
  	<% unless params[:f] %>
  	<div class="paragraph stat toggle">
  		<%= form_tag statistic_by_loai_lao_dong_casein_can_bo_thong_tins_url,:id=>"formStatisticLaoDong", :method => :get do %>
  		<div  class="tfContainerFullWidth"><p style="font-weight:bold;">
	  			(1). Chọn các đơn vị cần thống kê:</p>
		  			<div class="overflow_scroll">
		  				<ul style="margin-left:20px;">
		  					<li><label onclick="checkAll('div_dv',dv_all.checked);" for="dv_all"><%= check_box_tag "dv_all", true%> &nbsp;Tất cả đơn vị
		  					</label>
				  				<ul style="margin-left:20px;" id="div_dv">
				  				<% LoaiDonVi.all.each do |ldv| %>
								
									<li><label onclick="checkAll('ul_<%= ldv.id %>',ldv_<%= ldv.id %>.checked);" for="ldv_<%= ldv.id %>"><%= check_box_tag "ldv_#{ldv.id}", true %> <%= ldv.ten_loai_don_vi %></label>

										<ul style="margin-left:20px;" id="ul_<%= ldv.id %>">
							  				<% DonVi.find_all_by_loai_don_vi_id(ldv.id).each do |dv| %>
											
												<li><label onclick="unCheckAll('formStatisticTotal','dv_all');unCheckAll('formStatisticTotal','ldv_<%= ldv.id %>');" for="dv_<%= dv.id %>"><%= check_box_tag "dv_#{dv.id}", true %> <%= dv.ten_don_vi %></label>


												</li>
											
											<% end %>
										</ul>
									</li>
								
								<% end %>
								</ul>
							</li>
						</ul>
					</div>
				</div>

  		<div class="tfContainerFullWidth"><p style="font-weight:bold;">(2). Chọn các loại lao động cần thống kê:</p>
	  		<div class="overflow_scroll">
	  			<ul style="margin-left:20px;">
	  				<li><label for="lld_all" onclick="checkAll('div_lld',lld_all.checked);"> <%= check_box_tag "lld_all", true%>&nbsp;Tất cả loại lao động</label>
	  					<ul style="margin-left:20px;" id="div_lld">
			  			<% LoaiLaoDong.all.each do |lld| %>
						
							<li><label onclick="unCheckAll('formStatisticLaoDong','lld_all');" for="lld_<%= lld.id %>"><%= check_box_tag "lld_#{lld.id}", true %> <%= lld.ten_loai_lao_dong %></label></li>
						
						<% end %>
						</ul>
					</li>
				</ul>
			</div>
		</div>


  		<div class="tfContainerFullWidth" >
       		<p>
       			<%= hidden_field_tag :f, 1 %>
       			<%= submit_tag "Thống kê", :style => "text-align: right; padding: 5px 12px; margin-right: 25px;"%>
       		</p>
		</div>
  		<% end %>
  	<% else %>
		<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
			<tr>
				<th>Tên đơn vị</th>
				<% @loai_lao_dongs.map do |td| %>
					<td colspan="3"><%= td %></td>
				<% end %>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<% @loai_lao_dongs.map do |td| %>
					<td>Nam</td>
					<td>Nữ</td>
					<td>+</td>
				<% end %>			
			</tr>
			<% @hash.each do |h| %>
			<tr>
				<th align="center"><%= DonVi.find(h[0]).ten_don_vi %></th>
				<% h[1].map do |r| %>
					<% r[1].each do |k, v|%>
						<td><%= v %></td>
					<% end %>
				<% end %>
			</tr>
			<% end %>
			
		</table> 
		<p class="submits">
			<% unless @hash.empty? %>
				<%= link_to "Xuất nội dung ra excel ", "#{statistic_by_loai_lao_dong_casein_can_bo_thong_tins_url(:format => :xls)}?#{ @params.join("&") }", :class=> "update", :style => "text-decoration:none; color: #fff;" %>
			<% end %>
		</p>
  	<% end %>
</div>

<%= content_for :sidebar do %>
    <li>
      <%= link_to "#{casein_show_icon_custom_style("search", "width:20px; margin-top:-5px;")}Tìm kiếm nâng cao".html_safe, 
            advance_search_casein_can_bo_thong_tins_path %>
    </li>
    <li>
      <%= link_to "#{casein_show_icon "add"}Thêm mới thông tin cán bộ".html_safe, 
                    new_casein_can_bo_thong_tin_path %>
    </li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới cán bộ từ tập tin excel".html_safe, import_from_excel_casein_can_bo_thong_tins_path %>
    </li>
    <li>
    <%= link_to "#{casein_show_icon_custom_style("custom_download", "width:20px; margin-top:-5px;")}Tùy chọn nội dung xuất ra excel".html_safe, 
                custom_export_data_casein_can_bo_thong_tins_path %>
    </li>
    <li>
      <%= link_to "#{casein_show_icon "table"}Danh sách thông tin cán bộ".html_safe, 
                    casein_can_bo_thong_tins_path %>
    </li>
<% end %>