
<div class="blk-share" style="float: left; width: 97%;">
  <% @range = params[:range] || "0" %>
  	<h2>Thống kê cán bộ</h2>
  	<% unless params[:f] %>
	  	<div class="paragraph stat toggle">
	  		<%= form_tag statistic_total_casein_can_bo_thong_tins_url,:id=>"formStatisticTotal", :method => :get do %>
	  			<%= hidden_field_tag :f, 1 %>
	  			<div  class="tfContainerFullWidth"><p style="font-weight:bold;">
	  			Chọn các đơn vị cần thống kê:</p>
		  			<div class="overflow_scroll">
		  				<ul style="margin-left:20px;">
		  					<li><label onclick="checkAll('div_dv',dv_all.checked);" for="dv_all"><%= check_box_tag "dv_all", true%> &nbsp;Tất cả đơn vị
		  					</label>
				  				<ul style="margin-left:20px;" id="div_dv">
				  				<% LoaiDonVi.all.each do |ldv| %>
								
									<li><label onclick="checkAll('ul_<%= ldv.id %>',ldv_<%= ldv.id %>.checked);" for="ldv_<%= ldv.id %>"><%= check_box_tag "ldv_#{ldv.id}", true %> <%= ldv.ten_loai_don_vi %></label>

										<ul style="margin-left:20px;" id="ul_<%= ldv.id %>">
							  				<% DonVi.find_all_by_loai_don_vi_id(ldv.id).each do |dv| %>
											
												<li><label onclick="unCheckAll('formStatisticTotal','dv_all');unCheckAll('formStatisticTotal','ldv_<%= ldv.id %>');" for="dv_<%= dv.id %>"><%= check_box_tag "dv_#{dv.id}", true %> <%= dv.ten_don_vi %></label>


												</li>
											
											<% end %>
										</ul>
									</li>
								
								<% end %>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div  class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "tdcm_chk", true, false, {:onclick => "show_hide('lcTDCM');"} %> Chọn trình độ chuyên môn:</label></p>
			  		<div class="overflow_scroll" id="lcTDCM" style="display:none">
			  			<ul style="margin-left:20px;">
			  				<li><label for="tdcm_all" onclick="checkAll('div_tdcm',tdcm_all.checked);"> <%= check_box_tag "tdcm_all", true%>&nbsp;Tất cả trình độ chuyên môn</label>
			  					<ul style="margin-left:20px;" id="div_tdcm">
			  						<% TrinhDoChuyenMon.all.each do |td| %>
						
										<li><label onclick="unCheckAll('formStatisticTotal','tdcm_all');" for="td_<%= td.id %>"><%= check_box_tag "td_#{td.id}", true %> <%= td.trinh_do %></label></li>
									
									<% end %>
			  					</ul>
			  				</li>
			  			</ul>
			  			
					</div>
				</div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "cv_chk", true ,false, {:onclick => "show_hide('lcCV');"} %> Chọn công việc:</label></p>
			  		<div class="overflow_scroll" id="lcCV" style="display:none">
			  			<ul style="margin-left:20px;" >
			  				<li><label for="cv_all" onclick="checkAll('div_cv',cv_all.checked);"> <%= check_box_tag "cv_all", true%>&nbsp;Tất cả công việc</label>
			  					<ul style="margin-left:20px;" id="div_cv">
					  			<% CongViec.all.each do |cv| %>
								
									<li><label onclick="unCheckAll('formStatisticTotal','cv_all');" for="cv_<%= cv.id %>"><%= check_box_tag "cv_#{cv.id}", true %> <%= cv.ten_cong_viec %></label></li>
								
								<% end %>
								<ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "lld_chk", true,false, {:onclick => "show_hide('lcLLD');"} %> Chọn loại lao động:</label></p>
			  		<div class="overflow_scroll" id="lcLLD" style="display:none">
			  			<ul style="margin-left:20px;" >
			  				<li><label for="lld_all" onclick="checkAll('div_lld',lld_all.checked);"> <%= check_box_tag "lld_all", true%>&nbsp;Tất cả loại lao động</label>
			  					<ul style="margin-left:20px;" id="div_lld">
					  			<% LoaiLaoDong.all.each do |lld| %>
								
									<li><label onclick="unCheckAll('formStatisticTotal','lld_all');" for="lld_<%= lld.id %>"><%= check_box_tag "lld_#{lld.id}", true %> <%= lld.ten_loai_lao_dong %></label></li>
								
								<% end %>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="tfContainerFullWidth"><p>&nbsp;</p> </div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "age_chk", true %> Nhập khoảng độ tuổi:</label></p>
		  			<div class="tfContainer">
		  				<label>Độ tuổi thống kê<br>
		  					<%= text_field_tag :range, nil, :placeholder => "Nhập vào dãy số, ví dụ: 20..29; 30..49; 40...50; 50...60", :class => "caseinTextField" %>
		  				</label>
		  			</div>
		  			<div class="tfContainerSecond" >
		  				<p style="font-style:italic; font-size: 11px; color: gray;">* Lưu ý, Chọn theo dãy số:<br>
		  					+ Dấu ba chấm "..." cho khoảng số không tính cận, ví dụ: "1...4" => 1, 2, 3<br>
		  					+ Dấu hai chấm ".." cho khoảng số kể cả cận, ví dụ: "1..3" => 1, 2, 3<br>
		  					+ Dấu chấm phẩy ";" ngăn cách các khoảng với nhau<br>
		  				</p>
				       	
		  			</div>
	  			</div>
	  			<div class="tfContainer tfContainerFullWidth">
	  				<p><%= submit_tag "Thống kê", :style => "text-align: right; padding: 5px 12px; margin-right: 25px;"%></p>
	  			</div>
	  		<% end %>
	  	</div>
  	<% else %>
  	<%
  		@chartGroupData = {}
  		@taskName = {}
  		@taskValue = {}
  	%>
		<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
			<tr>
				<th>Tên đơn vị</th>
				<% if params["lld_chk"] %>
					<% arr = [] %>
					<% @loai_lao_dongs.map do |td| %>
						<% arr.push td %>
						<td colspan="3"><%= td %></td>
					<% end %>
					<% @taskName.merge! :lld => arr %>
				<% end %>
				<% if params["tdcm_chk"] %>
					<% arr = [] %>
					<% @trinh_do_chuyen_mons.map do |td| %>
						<% arr.push td %>
						<td colspan="3"><%= td %></td>
					<% end %>
					<% @taskName.merge! :tdcm => arr %>
				<% end %>
				<% if params["cv_chk"] %>
					<% arr = [] %>
					<% @cong_viecs.map do |td| %>
						<% arr.push td %>
						<td ROWSPAN="2" style="valign:middle;"><%= td %></td>
					<% end %>
					<% @taskName.merge! :cv => arr %>
				<% end %>
				<% if params["age_chk"] %>
					<% arr = [] %>
					<% @range.split(";").each do |td |%>
						<% arr.push td %>
						<td ROWSPAN="2" style="valign:middle;"><%= td %> tuổi</td>	
					<% end %>
					<% @taskName.merge! :age => arr %>
				<% end %>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<% if params["lld_chk"] %>
					<% @loai_lao_dongs.map do |td| %>
						<td>Nam</td>
						<td>Nữ</td>
						<td style="background: #eee;">+</td>
					<% end %>	
				<% end %>	
				<% if params["tdcm_chk"] %>
					<% @trinh_do_chuyen_mons.map do |td| %>
						<td>Nam</td>
						<td>Nữ</td>
						<td style="background: #eee;">+</td>
					<% end %>	
				<% end %>
			</tr>
			
			
			<%  @sum = {} %>
		
			<% @don_vis.each_with_index do |dv, i| %>
				<tr>
					<th colspan="<%= @count_clm + 1 %>" style="font-size:16px; text-transform:uppercase;">[<%= i + 1 %>] <%= dv[0][1] %></th>
				</tr>
				<%
				count = 0
				@shadow = {:lld => 0, :tdcm => 0, :cv => 0, :age => 0}
				if !@hash_dv_lld.empty?
					@shadow[:lld] = @hash_dv_lld.first.count * 3
					count += @hash_dv_lld.first.count * 3
				end
				if !@hash_dv_tdcm.empty?
					@shadow[:tdcm] = @hash_dv_tdcm.first.count * 3
					count += @hash_dv_tdcm.first.count * 3
				end
				if !@hash_dv_cv.empty?
					@shadow[:cv] = @hash_dv_cv.first[1].count
					count += @hash_dv_cv.first[1].count
				end
				if !@hash_dv_age.empty?
					@shadow[:age] = @hash_dv_age.first[1].count
					count += @hash_dv_age.first[1].count
				end
				# init an array with 0 values
				f_sum = Array.new(count) {|i| 0}
				%>
				<% dv[1].each do |e| %>
					<tr>
						
							<th><%= e[1] %></th>
							<% if params["lld_chk"] %>
								<% @hash_dv_lld["#{e[0]}"].each_with_index do |lld, illd| %>
									<% lld[1].each_with_index do |ex, ie| 
										f_sum[ie + (illd * 3)] += ex[1]
										%>
										<td style="text-align:right;<%= "background: #eee;font-weight: bold;" if ie == 2 %>"><%= ex[1] %></td>
									<% end %>
								<% end %>
							<% end %>
							<% if params["tdcm_chk"] %>
								<% 
								@hash_dv_tdcm["#{e[0]}"].each_with_index do |td, itd| 						
									td[1].each_with_index do |ex, ie|
										f_sum[ie + (itd * 3) + @shadow[:lld]] += ex[1]
									%>
										<td style="text-align:right;<%= "background: #eee;font-weight: bold;" if ie == 2 %>"><%= ex[1] %></td>
									<% end %>
									
								<% end %>
							<% end %>
							<% if params["cv_chk"] %>
								<% @hash_dv_cv["#{e[0]}"].each_with_index do |cv, icv| 
									f_sum[icv + @shadow[:lld] + @shadow[:tdcm]] += cv[1]
								%>
									<td style="text-align:right"><%= cv[1] %></td>
								<% end %>
							<% end %>
							<% if params["age_chk"] %>
								<% @hash_dv_age["#{e[0]}"].each_with_index do |age, iage| 
									f_sum[iage + @shadow[:lld] + @shadow[:tdcm] + @shadow[:cv]] += age[1]
								%>
									<td style="text-align:right"><%= age[1] %></td>
								<% end %>
							<% end %>
						
					</tr>

				<% end %>
				<tr>
					<th style="text-transform:uppercase;">Tổng&nbsp; (<%= i + 1 %>)</th>
					<% f_sum.map { |e| %>
						<th style="text-align:right; padding:10px;"><%= e %></th>
					<% } %>
				</tr>
				<% @sum.merge! dv[0] => f_sum %>
				
			<% end %>
			

		</table> 
		<%
		@sum.each do |sum|
			@chartData = {} 
			index = 0
			if @shadow[:lld] != 0
				arr = []
				while index < @shadow[:lld]
					if (index+1)%3 == 0
						arr.push sum[1][index]
					end
					index += 1
				end

				@taskValue.merge! :lld => arr
				data = []
				data.push ['total', @taskValue[:lld].inject(0, &:+)]
				@taskName[:lld].count.times do |t|
					data.push ["#{@taskName[:lld][t]}", @taskValue[:lld][t]]
				end
				title = "Loại lao động"
				@chartData.merge! :lld => {:data => data, :title => title}
			end
			if @shadow[:tdcm] != 0
				arr = []
				while index < (@shadow[:lld] + @shadow[:tdcm])
					if (index+1)%3 == 0
						arr.push sum[1][index]
					end
					index += 1
				end
				@taskValue.merge! :tdcm => arr
				data = []
				data.push ['total', @taskValue[:tdcm].inject(0, &:+)]
				@taskName[:tdcm].count.times do |t|
					data.push ["#{@taskName[:tdcm][t]}", @taskValue[:tdcm][t]]
				end
				title = "Trình độ chuyên môn"
				@chartData.merge! :tdcm => {:data => data, :title => title}
			end
			if @shadow[:cv] != 0
				arr = []
				while index < (@shadow[:lld] + @shadow[:tdcm] + @shadow[:cv])
					arr.push sum[1][index]
					index += 1
				end
				@taskValue.merge! :cv => arr
				data = []
				data.push ['total', @taskValue[:cv].inject(0, &:+)]
				@taskName[:cv].count.times do |t|
					data.push ["#{@taskName[:cv][t]}", @taskValue[:cv][t]]
				end
				title = "Công việc"
				@chartData.merge! :cv => {:data => data, :title => title}
			end
			if @shadow[:age] != 0
				arr = []
				while index < (@shadow[:lld] + @shadow[:tdcm] + @shadow[:cv] + @shadow[:age] )
					arr.push sum[1][index]
					index += 1
				end
				@taskValue.merge! :age => arr
				data = []
				data.push ['total', @taskValue[:age].inject(0, &:+)]
				@taskName[:age].count.times do |t|
					data.push ["#{@taskName[:age][t]}", @taskValue[:age][t]]
				end
				title = "Độ tuổi"
				@chartData.merge! :age => {:data => data, :title => title}
			end
			@chartGroupData.merge! sum[0] => @chartData
		end
		%>
		<p></p>
		<h2>Xem dạng biểu đồ</h2>

		<% @chartGroupData.each_with_index do |gchart, index| %>
		
			<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
				<tr>
					<th colspan="<%= @count_clm + 1 %>"><%= gchart[0][1] %></th>
				</tr>
				<tr>
				<% 
					strHtml = ""
					gchart[1].each_with_index do |chart, i|
						if i == 2
							strHtml += "</tr><tr>"
						end	
						div_id = i + index * chart[1].count
						strHtml += "<td><div id='chart_div_#{div_id}' style='width: 410px; height: 200px; align: left;'></div></td>"
					end

				%>
				<%= strHtml.html_safe %>
				</tr>
			</table>
		<% end %>
		
		
		<p class="submits">
			<% unless @hash.empty? %>
				<%= link_to "Xuất nội dung ra excel ", "#{statistic_total_casein_can_bo_thong_tins_url(:format => :xls, :range => params["range"])}&#{ @params.join("&") }", :class=> "update", :style => "text-decoration:none; color: #fff;" %>
			<% end %>
		</p>
	<% end %>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<% @chartGroupData.each_with_index do |gchart, index| 
		gchart[1].each_with_index do |chart, i|
		%>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["corechart"]});
	      google.setOnLoadCallback(drawChart);
	      function drawChart() {
	        var data = google.visualization.arrayToDataTable(<%= raw chart[1][:data] %>);

	        var options = {
	          title: '<%= raw chart[1][:title] %>'
	        };

	        var chart = new google.visualization.PieChart(document.getElementById("chart_div_<%= i + index * chart[1].count %>"));
	        chart.draw(data, options);
	      }
	    </script>
    <% 
    	end
    end
   	%>
</div>

