<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li class="toproot"><%= link_to "Quản lý lý lịch" %></a>
  <ul>
    <li><%= link_to "Quản lý viên chức", casein_can_bo_thong_tins_url %>
    </li>
    <li><%= link_to "Quản lý quyết định", casein_quyet_dinhs_url %></li>
  </ul>
</li>
<li class="topmenu"><%= link_to "Quản lý đoàn thể", casein_don_vis_url %></li>
<li class="topmenu"><%= link_to "Quản lý trình độ", casein_can_bo_trinh_dos_url %></li>
<li class="toplast"><%= link_to "Quản lý lương", casein_lich_su_bac_luongs_url %></li>