<div class="blk-share">
<h2>Chi tiết thông tin hạng thương binh</h2>
<table  class="details">
	<tr>
		<th><b>Tỉ lệ thương tật:</b></th>
		<td style="text-transform: uppercase; font-weight: bold;"><%= @hang_thuong_binh.ti_le_thuong_tat %></td>
	</tr>
	<tr>
		<th><b>Ghi chú:</b></th>
		<td><%= @hang_thuong_binh.ghi_chu %></td>
	</tr>

</table>

<p class="submits">
  <%= link_to 	'Sửa thông tin hạng thương binh', 
  				edit_casein_hang_thuong_binh_path(@hang_thuong_binh), 
  				:class => 'update', 
  				:style => "text-decoration:none; color: #fff;" %>
</p>
</div>

<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới hạng thương binh".html_safe, new_casein_hang_thuong_binh_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới hạng thương binh từ tập tin excel".html_safe, import_from_excel_casein_hang_thuong_binhs_path %></li>
	<li><%= link_to "#{casein_show_icon "table"}Danh sách hạng thương binh".html_safe, casein_hang_thuong_binhs_path %></li>
<% end %>