
<table cellpadding="0" cellspacing="0" id="itemList" class="itemList center">
  <tr>
  	<th>STT</th>
  	<th>Ngày vào làm</th>
    <th>Ngày chuyển công tác</th>
    <th>Đơn vị công tác</th>
    <th>Chức vụ</th>
    <th>[Sửa]</th>
    <th>[Xóa]</th>
  </tr>
  
  <% qua_trinh_cong_tacs.each_with_index do |q, index| %>
	<% 	chuc_vu = "không" 
		don_vi = ""
		thoi_gian_bat_dau = "" 
		thoi_gian_ket_thuc = "đang công tác" 
	%>
	<% if q.chuc_vu_id %>
		  <% chuc_vu = q.chuc_vu.ten_chuc_vu %>
	<% end %>
	<% if q.don_vi_id %>
		  <% don_vi = q.don_vi.ten_don_vi %>
	<% end %>
	<% if q.thoi_gian_bat_dau %>
		  <% thoi_gian_bat_dau = q.thoi_gian_bat_dau.strftime("%d/%m/%Y") %>
	<% end %>
	<% if q.thoi_gian_ket_thuc %>
		  <% thoi_gian_ket_thuc = q.thoi_gian_ket_thuc.strftime("%d/%m/%Y")  %>
	<% end %>
	<tr class="<%= 'even' if index.modulo(2) == 0 %> hover">
		<td><%= index + 1 %></td>
		<td><%= casein_table_cell_link thoi_gian_bat_dau, casein_qua_trinh_cong_tac_path(q) %></td>
		<td><%= casein_table_cell_link thoi_gian_ket_thuc, casein_qua_trinh_cong_tac_path(q) %></td>
		<td><%= casein_table_cell_link don_vi, casein_qua_trinh_cong_tac_path(q) %></td>
		<td><%= casein_table_cell_link chuc_vu, casein_qua_trinh_cong_tac_path(q) %></td>
		<td class="delete"><%= link_to(casein_show_row_icon("edit"), edit_casein_qua_trinh_cong_tac_path(q)) %></td>
        <td class="delete"><%= link_to(casein_show_row_icon("delete"), casein_qua_trinh_cong_tac_path(q), :method => :delete, :confirm => "Bạn có chắc muốn xóa ?") %></td>
	</tr>

  <% end %>
</table>
<p></p>