<div class="blk-share">
	<h2>Tùy chọn nội dung trích xuất</h2>

	<%= form_tag get_and_export_to_excel_casein_can_bo_thong_tins_url, :method=>"get", :name => "form" do %>
	<table class="import_table">
		<tr>
			<th class="head">Thuộc tính</th>
			<th class="head">Lựa chọn</th>
			<td class="none">&nbsp;</td>
			<th class="head">Thuộc tính</th>
			<th class="head">Lựa chọn</th>
		</tr>
		<tr>
			<th>Họ và tên</th>
			<td class="check">
				<%=check_box 'check', 'ho_ten', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Tên gọi khác:</th>
			<td class="check">
				<%=check_box 'check', 'ten_goi_khac', {:checked => false}, "1", "0"  %>
			</td>
		</tr>
		<tr>
			<th>Ngày sinh:</th>
			<td class="check">
				<%=check_box 'check', 'ngay_sinh', {:checked => false}, "1", "0"  %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Giới tính:</th>
			<td class="check">
				<%=check_box 'check', 'gioi_tinh', {:checked => false}, "1", "0"  %>
			</td>
		</tr>
		<tr>
			<th>Nơi sinh:</th>
			<td class="check">
				<%=check_box 'check', 'noi_sinh', {:checked => false}, "1", "0"  %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Quê quán:</th>
			<td class="check">
				<%=check_box 'check', 'que_quan', {:checked => false}, "1", "0"  %>
			</td>
		</tr>
		<tr>
			<th>Tin học:</th>
			<td class="check">
				<%=check_box 'check', 'tin_hoc', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Tôn giáo:</th>
			<td class="check">
				<%=check_box 'check', 'ton_giao', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Dân tộc:</th>
			<td class="check">
				<%=check_box 'check', 'dan_toc', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Nơi ở hiện nay:</th>
			<td class="check">
				<%=check_box 'check', 'noi_o_hien_nay', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Nơi ĐK HKTT:</th>
			<td class="check">
				<%=check_box 'check', 'noi_dang_ky_ho_khau_thuong_tru', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Số CMND:</th>
			<td class="check">
				<%=check_box 'check', 'so_cmnd', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Ngày cấp:</th>
			<td class="check">
				<%=check_box 'check', 'ngay_cap_cmnd', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Số sổ BHXH:</th>
			<td class="check">
				<%=check_box 'check', 'so_BHXH', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Ngạch công chức (viên chức):</th>
			<td class="check">
				<%=check_box 'check', 'ngach', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Mã ngạch:</th>
			<td class="check">
				<%=check_box 'check', 'ma_ngach', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Bậc lương:</th>
			<td class="check">
				<%=check_box 'check', 'bac_luong', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Hệ số:</th>
			<td class="check">
				<%=check_box 'check', 'he_so', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Đơn vị tuyển dụng:</th>
			<td class="check">
				<%=check_box 'check', 'don_vi', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Nghề nghiệp trước tuyển dụng:</th>
			<td class="check">
				<%=check_box 'check', 'nghe_nghiep', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Công việc chính được giao:</th>
			<td class="check">
				<%=check_box 'check', 'cong_viec_chinh_duoc_giao', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Sở trường công tác:</th>
			<td class="check">
				<%=check_box 'check', 'so_truong_cong_tac', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Ngày bắt đầu làm việc:</th>
			<td class="check">
				<%=check_box 'check', 'ngay_bat_dau_lam_viec', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Trình độ giáo dục phổ thông:</th>
			<td class="check">
				<%=check_box 'check', 'trinh_do_giao_duc_pho_thong', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Trình độ chuyên môn cao nhất:</th>
			<td class="check">
				<%=check_box 'check', 'trinh_do_chuyen_mon', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Học hàm:</th>
			<td class="check">
				<%=check_box 'check', 'hoc_ham', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Học vị:</th>
			<td class="check">
				<%=check_box 'check', 'hoc_vi', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Lý luận chính trị:</th>
			<td class="check">
				<%=check_box 'check', 'ly_luan_chinh_tri', {:checked => false}, "1", "0" %>
			</td>
		</tr>
		<tr>
			<th>Quản lý nhà nước:</th>
			<td class="check">
				<%=check_box 'check', 'quan_ly_nha_nuoc', {:checked => false}, "1", "0" %>
			</td>
			<td class="none">&nbsp;</td>
			<th>Ngoại ngữ:</th>
			<td class="check">
				<%=check_box 'check', 'ngoai_ngu', {:checked => false}, "1", "0" %>
			</td>
		</tr>
	</table>
	<div class="down_arrow" onclick="document.forms.form.submit()" title="Tiếp tục"><span>Đồng ý</span></div>
	<% end %>


 </div> <!--end div blk-share-->	
	 
 	 
	
	 
	 
	 