<div class="blk-share">
<h2>Nhập dữ liệu từ tập tin excel</h2>

<div id="import_form" style="display: block;">
  <p><%= button_tag "Tùy chọn với cột tương ứng trong tập tin excel", :onclick=>"toggleSwitchDiv('import_form', 'custom_column');" %></p>
<h2>Lựa chọn tập tin</h2>
<%= form_tag(parse_save_from_excel_casein_can_bo_thong_tins_path, :multipart => true) do %>
<p>
  <%= file_field_tag 'excel_file' %>
</p>
<p>
  <%= submit_tag "Lưu dữ liệu", :disable_with => "Đang xử lý dữ liệu..." %>
</p>
<% end %>
</div>


<div id="custom_column" style="display: none;">
  <p><%= button_tag "Về cấu trúc mặc định", :onclick=>"toggleSwitchDiv('import_form', 'custom_column');" %></p>
  <h2>Lựa chon tập tin</h2>
  <%= form_tag(parse_save_from_excel_casein_can_bo_thong_tins_path, :multipart => true) do %>
      <%= hidden_field_tag :custom, "true" %>
      <p>
        <%= file_field_tag 'excel_file' %>
      </p>
      <h2>Tùy chọn cột tương ứng</h2>
      <%= render :partial => 'casein/can_bo_thong_tins/table_custom_import'%>
      <p>
        <%= submit_tag "Lưu dữ liệu", :disable_with => "Đang xử lý dữ liệu..." %>
      </p>
  <% end %>
</div>
<h2>Hướng dẫn</h2>
<h4>Cấu trúc tập tin excel </h4>
<p>Sử dụng mẫu excel sau để tải dữ liệu từ tập tin excel, nội dung tập tin excel phải có đầy đủ các cột như ảnh dưới.</p>
<ul>Dòng 1: chứa tên các cột và bắt đầu từ cột A.</ul>
<ul>Dòng 2 trở về sau: chứa nội dung cần lưu trữ xuống cơ sở dữ liệu.</ul>
<ul>Các cột được đánh số từ 1 - 14 tương ứng với từ A - N</ul>

<a href="/template/template_import_xls_cbtt.xls"><%= casein_show_icon("download") %>tải xuống tập tin excel mẫu</a>
<p>
   <%= image_tag "tempate_xls_cbtt.png", :title => "Cấu trúc tập tin excel Cán bộ - Thông tin", :size => "850x150" %>
</p>

</div>
<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon_custom_style("search", "width:20px; margin-top:-5px;")}Tìm kiếm nâng cao".html_safe, advance_search_casein_can_bo_thong_tins_path %></li>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới thông tin cán bộ".html_safe, new_casein_can_bo_thong_tin_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách thông tin cán bộ".html_safe, casein_can_bo_thong_tins_path %></li>
<% end %>