<script type="text/javascript">
	$(document).ready(function(){
		$('.chk').click(function(){
			if ($(this).is(':checked')) {
				$(this).parent().find('input:checkbox').attr('checked', true);
			}
			else{
				$(this).parent().find('input:checkbox').attr('checked', false);
			}
			updateCheck();
		});
	});
	function updateCheck(){
		$('input.chk').change(function() {
			if ($(this).is(':checked')) {
				$(this).closest('ul').siblings('input:checkbox').attr('checked', true).closest('ul').siblings('input:checkbox').attr('checked', true);
			}
		});
	}
	function checkedAll1 (formid,checkBoxNum,preName,checkAllName) {
		
		var checked = document.getElementById(formid).elements[checkAllName].checked;
		for (var i = 1; i <= checkBoxNum; i++)
		{
			document.getElementById(formid).elements[preName+i].checked = checked;
		}
	}
	function unCheckAll(formid,checkAllName)
	{
		document.getElementById(formid).elements[checkAllName].checked=false;
	}

</script>

<div class="blk-share" style="float: left; width: 97%;">
  <% @range = params[:range] || "0" %>
  	<h2>Thống kê cán bộ</h2>
  	<% unless params[:f] %>
	  	<div class="paragraph stat toggle">
	  		<%= form_tag statistic_total_casein_can_bo_thong_tins_url,:id=>"formStatisticTotal", :method => :get do %>
	  			<%= hidden_field_tag :f, 1 %>
	  			<div class="tfContainerFullWidth"><p style="font-weight:bold;">
	  			Chọn các đơn vị cần thống kê:</p>
		  			<div class="overflow_scroll">
		  				<ul style="margin-left:20px;">
		  					<li><label onclick="checkedAll1('formStatisticTotal','<%=DonVi.count%>','dv_','dv_all');" for="dv_all"><%= check_box_tag "dv_all", true%> &nbsp;Tất cả đơn vị
		  					</label>
				  				<ul style="margin-left:20px;">
				  				<% LoaiDonVi.all.each do |ldv| %>
								
									<li><label onclick="checkedAll1('formStatisticTotal','ldv_all');" for="ldv_<%= ldv.id %>"><%= check_box_tag "ldv_#{ldv.id}", true %> <%= ldv.ten_loai_don_vi %></label>

										<ul style="margin-left:20px;">
							  				<% DonVi.find_all_by_loai_don_vi_id(ldv.id).each do |dv| %>
											
												<li><label onclick="unCheckAll('formStatisticTotal','dv_all');" for="dv_<%= dv.id %>"><%= check_box_tag "dv_#{dv.id}", true %> <%= dv.ten_don_vi %></label>


												</li>
											
											<% end %>
										</ul>
									</li>
								
								<% end %>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "tdcm_chk", true, false, {:onclick => "show_hide('lcTDCM');"} %> Chọn trình độ chuyên môn:</label></p>
			  		<div class="overflow_scroll" id="lcTDCM" style="display:none">
			  			<ul style="margin-left:20px;">
			  				<li><label for="tdcm_all" onclick="checkedAll1('formStatisticTotal','<%=TrinhDoChuyenMon.count%>','td_','tdcm_all');"> <%= check_box_tag "tdcm_all", true%>&nbsp;Tất cả trình độ chuyên môn</label>
			  					<ul style="margin-left:20px;">
			  						<% TrinhDoChuyenMon.all.each do |td| %>
						
										<li><label onclick="unCheckAll('formStatisticTotal','tdcm_all');" for="td_<%= td.id %>"><%= check_box_tag "td_#{td.id}", true %> <%= td.trinh_do %></label></li>
									
									<% end %>
			  					</ul>
			  				</li>
			  			</ul>
			  			
					</div>
				</div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "cv_chk", true ,false, {:onclick => "show_hide('lcCV');"} %> Chọn công việc:</label></p>
			  		<div class="overflow_scroll" id="lcCV" style="display:none">
			  			<ul style="margin-left:20px;">
			  				<li><label for="cv_all" onclick="checkedAll1('formStatisticTotal','<%=CongViec.count%>','cv_','cv_all');"> <%= check_box_tag "cv_all", true%>&nbsp;Tất cả công việc</label>
			  					<ul style="margin-left:20px;">
					  			<% CongViec.all.each do |cv| %>
								
									<li><label onclick="unCheckAll('formStatisticTotal','cv_all');" for="cv_<%= cv.id %>"><%= check_box_tag "cv_#{cv.id}", true %> <%= cv.ten_cong_viec %></label></li>
								
								<% end %>
								<ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "lld_chk", true,false, {:onclick => "show_hide('lcLLD');"} %> Chọn loại lao động:</label></p>
			  		<div class="overflow_scroll" id="lcLLD" style="display:none">
			  			<ul style="margin-left:20px;">
			  				<li><label for="lld_all" onclick="checkedAll1('formStatisticTotal','<%=LoaiLaoDong.count%>','lld_','lld_all');"> <%= check_box_tag "lld_all", true%>&nbsp;Tất cả loại lao động</label>
			  					<ul style="margin-left:20px;">
					  			<% LoaiLaoDong.all.each do |lld| %>
								
									<li><label onclick="unCheckAll('formStatisticTotal','lld_all');" for="lld_<%= lld.id %>"><%= check_box_tag "lld_#{lld.id}", true %> <%= lld.ten_loai_lao_dong %></label></li>
								
								<% end %>
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="tfContainerFullWidth"><p>&nbsp;</p> </div>
				<div class="tfContainerFullWidth"><p style="font-weight:bold;"><label>
				<%= check_box_tag "age_chk", true %> Nhập khoảng độ tuổi:</label></p>
		  			<div class="tfContainer">
		  				<label>Độ tuổi thống kê<br>
		  					<%= text_field_tag :range, nil, :placeholder => "Nhập vào dãy số, ví dụ: 20..29; 30..49; 40...50; 50...60", :class => "caseinTextField" %>
		  				</label>
		  			</div>
		  			<div class="tfContainerSecond" >
		  				<p style="font-style:italic; font-size: 11px; color: gray;">* Lưu ý, Chọn theo dãy số:<br>
		  					+ Dấu ba chấm "..." cho khoảng số không tính cận, ví dụ: "1...4" => 1, 2, 3<br>
		  					+ Dấu hai chấm ".." cho khoảng số kể cả cận, ví dụ: "1..3" => 1, 2, 3<br>
		  					+ Dấu chấm phẩy ";" ngăn cách các khoảng với nhau<br>
		  				</p>
				       	
		  			</div>
	  			</div>
	  			<div class="tfContainer tfContainerFullWidth">
	  				<p><%= submit_tag "Thống kê", :style => "text-align: right; padding: 5px 12px; margin-right: 25px;"%></p>
	  			</div>
	  		<% end %>
	  	</div>
  	<% else %>
		<table cellpadding="0" cellspacing="0" id="itemList" class="itemList">
			<tr>
				<th>Tên đơn vị</th>
				<% if params["lld_chk"] %>
					<% @loai_lao_dongs.map do |td| %>
						<td colspan="3"><%= td %></td>
					<% end %>
				<% end %>
				<% if params["tdcm_chk"] %>
					<% @trinh_do_chuyen_mons.map do |td| %>
						<td colspan="3"><%= td %></td>
					<% end %>
				<% end %>
				<% if params["cv_chk"] %>
					<% @cong_viecs.map do |td| %>
						<td><%= td %></td>
					<% end %>
				<% end %>
				<% if params["age_chk"] %>
					<% @range.split(";").each do |cv |%>
						<td><%= cv %> tuổi</td>	
					<% end %>
				<% end %>
			</tr>
			<tr>
				<th>&nbsp;</th>
				<% if params["lld_chk"] %>
					<% @loai_lao_dongs.map do |td| %>
						<td>Nam</td>
						<td>Nữ</td>
						<td>+</td>
					<% end %>	
				<% end %>	
				<% if params["tdcm_chk"] %>
					<% @trinh_do_chuyen_mons.map do |td| %>
						<td>Nam</td>
						<td>Nữ</td>
						<td>+</td>
					<% end %>	
				<% end %>	
				<% if params["cv_chk"] %>
					<% @cong_viecs.each do |cv |%>
						<td>&nbsp;</td>	
					<% end %>
				<% end %>
				<% if params["age_chk"] %>
					<% @range.split(";").each do |cv |%>
						<td>&nbsp;</td>	
					<% end %>
				<% end %>
			</tr>
			
			
				
		
			<% @don_vis.each_with_index do |dv, i| %>
				<tr>
					<th colspan="<%= @count_clm %>" style="font-size:16px; text-transform:uppercase;"><%= i + 1 %> - <%= dv[0][1] %></th>
				</tr>
				<% dv[1].each do |e| %>
					<tr>
						
							<th><%= e[1] %></th>
							<% if params["lld_chk"] %>
								<% @hash_dv_lld["#{e[0]}"].map do |lld| %>
									<% lld[1].map do |ex| %>
										<td><%= ex[1] %></td>
									<% end %>
								<% end %>
							<% end %>
							<% if params["tdcm_chk"] %>
								<% @hash_dv_tdcm["#{e[0]}"].map do |td| %>
									<% td[1].map do |ex| %>
										<td><%= ex[1] %></td>
									<% end %>
								<% end %>
							<% end %>
							<% if params["cv_chk"] %>
								<% @hash_dv_cv["#{e[0]}"].map do |cv| %>
									<td><%= cv[1] %></td>
								<% end %>
							<% end %>
							<% if params["age_chk"] %>
								<% @hash_dv_age["#{e[0]}"].map do |age| %>
									<td><%= age[1] %></td>
								<% end %>
							<% end %>
						
					</tr>
				<% end %>
			<% end %>


		</table> 
		<p class="submits">
			<% unless @hash.empty? %>
				<%= link_to "Xuất nội dung ra excel ", "#{statistic_total_casein_can_bo_thong_tins_url(:format => :xls, :range => params["range"])}&#{ @params.join("&") }", :class=> "update", :style => "text-decoration:none; color: #fff;" %>
			<% end %>
		</p>
	<% end %>
</div>

