<!DOCTYPE html>
<html>
<head>
  <title><%= casein_config_website_name %></title>
  <link rel="icon" type="image/png" href="<%= casein_config_favicon %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
