<div class="blk-share">
<h2>Chào mừng đến với <%= casein_config_website_name %>!</h2>

<div class="pagina toggle">
    <div class="linha">         
        <a href="<%= casein_can_bo_thong_tins_url %>">
        	<div class="tile gray"><br>Thông tin <br> cá nhân</div>
    	</a>
        <a href="<%= casein_can_bo_li_lich_cts_url %>">
        	<div class="tile blue"><br>Lý lịch<br>chính trị</div>
        </a>
        <a href="<%= casein_than_nhans_url %>">
        	<div class="tile tileLargo green"><br><br>Thông tin thân nhân</div>
        </a>
        <a href="<%= casein_can_bo_cong_tacs_url %>">
        	<div class="tile yellow"><br>Thông tin<br> công tác</div>
    	</a>
               
        <a href="<%= casein_qua_trinh_cong_tacs_url %>">
        	<div class="tile tileLargo brown"><br><br>Lịch sử công tác</div>
        </a>
    </div>
    <div class="linha">         
        <a href="<%= casein_lich_su_bac_luongs_url %>">
        	<div class="tile tileLargo orange"><br><br>Lịch sử bậc lương</div>
        </a>
        <a href="<%= casein_can_bo_trinh_dos_url %>">
        	<div class="tile purple"><br>Văn bằng <br> chứng chỉ</div>          
    	</a>
        <a href="<%= casein_cap_bac_quan_dois_url %>">
        	<div class="tile magenta"><br><br>Quân hàm</div>
        </a>
        <a href="<%= casein_hang_thuong_binhs_url %>">
        	<div class="tile blue"><br>Hạng <br>thương binh
        	</div>
        </a>
        <a href="<%= statistic_casein_can_bo_thong_tins_url %>">
        	<div class="tile tileLargo green"><br><br>Báo cáo - Thống kê </div>
        </a>
       
    </div>      
    <div class="linha">         
        <a href="<%= casein_quyet_dinhs_url %>">
        	<div class="tile purple"><br><br>Quyết định
        	</div>
        </a>
        <a href="<%= casein_loai_quyet_dinhs_url %>">
        	<div class="tile brown"><br>Loại <br>quyết định
        	</div>
    	</a>
        <a href="<%= casein_quan_he_gia_dinhs_url %>">
        	<div class="tile yellow"><br>Quan hệ<br>gia đình
        	</div>
        </a>
        <a href="<%= casein_trinh_do_chuyen_mons_url %>">
        	<div class="tile tileLargo orange"><br><br>Trình độ chuyên môn
        	</div>
        </a>
        <a href="<%= casein_quan_ly_nha_nuocs_url %>">
        	<div class="tile magenta"><br>Quản lý <br>nhà nước
        	</div>
        </a>
        <a href="<%= casein_ly_luan_chinh_tris_url %>">
        	<div class="tile gray"><br>Lý luận<br> chính trị
        	</div>
        </a>
    </div>
    <div class="linha">         
        <a href="<%= casein_hoc_hams_url %>">
        	<div class="tile tileLargo blue"><br><br>Học hàm
        	</div>
        </a>
        <a href="<%= casein_hoc_vis_url %>">
        	<div class="tile orange"><br><br>Học vị
        	</div>
    	</a>          
        <a href="<%= casein_don_vis_url %>">
        	<div class="tile magenta"><br><br>Đơn vị
        	</div>
        </a>
        <a href="<%= casein_ngaches_url %>">
        	<div class="tile green"><br><br>Ngạch
        	</div>
        </a> 
        <a href="<%= casein_bac_luongs_url %>">         
        	<div class="tile tileLargo brown">
        		<br><br>Bậc lương
        	</div>
        </a>
    </div>
</div>

</div>