<div class="blk-share">
<% unless @errors.nil? %>
    <h1>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h1>

    <table class="import_table">
      <tr>
        <th>STT dòng trong excel</th>
        <th>Thông tin</th>
      </tr>
      <% @errors.each do |mgs| %>
          <tr>
            <td>Dòng&nbsp;<%= mgs[0]%>&nbsp;:</td>
            <td><%= mgs[1]%></td>
          </tr>
      <% end %>
    </table>
<% end %>
</div>


<%= content_for :sidebar do %>
  <li><%= link_to "#{casein_show_icon "add"}Thêm mới học vị".html_safe, new_casein_hoc_vi_path %></li>
  <li><%= link_to "#{casein_show_icon "import"}Thêm mới học vị từ tập tin excel".html_safe, import_from_excel_casein_hoc_vis_path %></li>
  <li><%= link_to "#{casein_show_icon "table"}Danh sách học vị".html_safe, casein_hoc_vis_path %></li>
<% end %>