
<div class="blk-share">
<% unless @errors.nil? %>
    <h2>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h2>

    <table class="import_table">
      <tr>
        <th>STT dòng</th>
        <th>Thông tin cán bộ</th>
      </tr>
      <% @errors.each do |mgs| %>
          <tr>
            <td>Dòng <%= mgs[0]%></td>
            <td><%= mgs[1] %></td>
          </tr>
      <% end %>

    </table>
<% end %>
</div>


<%= content_for :sidebar do %>
   <li><%= link_to "#{casein_show_icon "add"}Thêm mới lịch sử công tác".html_safe, new_casein_qua_trinh_cong_tac_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới lịch sử công tác từ tập tin excel".html_safe, import_from_excel_casein_qua_trinh_cong_tacs_path %></li>
    <li><%= link_to "#{casein_show_icon('excel')}Xuất danh sách ra excel".html_safe, casein_qua_trinh_cong_tacs_path({:format => :xls, :keyword => params["keyword"], :commit => params["commit"], :utf8 => params["utf8"]}) %></li>

<% end %>