<div class="blk-share">
<% unless @errors.nil? %>
    <h1>Danh sách các dòng không thể lưu vào cơ sở dữ liệu</h1>

    <table class="import_table">
      <tr>
        <th>STT dòng</th>
        <th>Thông tin cán bộ</th>
      </tr>
      <% @errors.each do |mgs| %>
          <tr>
            <td>Dòng <%= mgs[0]%></td>
            <td><%= mgs[1] %></td>
          </tr>
      <% end %>

    </table>
<% end %>
</div>


<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới lí lịch chính trị cán bộ".html_safe, new_casein_can_bo_li_lich_ct_path %></li>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới lí lịch chính trị cán bộ từ file excel".html_safe, import_from_excel_casein_can_bo_li_lich_cts_path %></li>
    <li><%= link_to "#{casein_show_icon "table"}Danh sách lí lịch chính trị cán bộ".html_safe, casein_can_bo_li_lich_cts_path %></li>
<% end %>