<div class="blk-share">

<% 

cap_bac = "" 
ti_le_thuong_tat = "" 
ngay_vao_dang = "" 
ngay_nhap_ngu = ""    
ngay_xuat_ngu = "" 

if !@can_bo_li_lich_ct.cap_bac_quan_doi_id.blank?
    cap_bac = @can_bo_li_lich_ct.cap_bac_quan_doi.ten_cap_bac
end
if @can_bo_li_lich_ct.hang_thuong_binh_id
    ti_le_thuong_tat = @can_bo_li_lich_ct.hang_thuong_binh.ti_le_thuong_tat
end
if @can_bo_li_lich_ct.ngay_vao_dang
    ngay_vao_dang = @can_bo_li_lich_ct.ngay_vao_dang.strftime("%d/%m/%Y")
end
if @can_bo_li_lich_ct.ngay_nhap_ngu
    ngay_nhap_ngu = @can_bo_li_lich_ct.ngay_nhap_ngu.strftime("%d/%m/%Y")
end 
if @can_bo_li_lich_ct.ngay_xuat_ngu
    ngay_xuat_ngu = @can_bo_li_lich_ct.ngay_xuat_ngu.strftime("%d/%m/%Y")
end 

%>


<h2>Chi tiết lý lịch chính trị cán bộ || Mã số: <%= @can_bo_li_lich_ct.can_bo_thong_tin.ma_cb %></h2>
<table  class="details">
<tr>
	<th><b>Họ và tên:</b></th>
	<td style="text-transform: uppercase; font-weight: bold;"><%= @can_bo_li_lich_ct.can_bo_thong_tin.ho_ten %></td>
</tr>
<tr>
	<th><b>Con gia đình chính sách:</b></th>
	<td><%= @can_bo_li_lich_ct.con_gia_dinh_chinh_sach %></td>
</tr>
<tr>
	<th><b>Ngày vào Đảng:</b></th>
	<td><%= ngay_vao_dang %></td>
</tr>
<tr>
	<th><b>Danh hiệu được phong tặng:</b></th>
	<td><%= @can_bo_li_lich_ct.danh_hieu_duoc_phong_tang %></td>
</tr>
<tr>
	<th><b>Ngày nhập ngũ:</b></th>
	<td><%= ngay_nhap_ngu %></td>
</tr>
<tr>
	<th><b>Ngày xuất ngũ:</b></th>
	<td><%= ngay_xuat_ngu%></td>
</tr>
<tr>
	<th><b>Quân hàm cao nhất:</b></th>
	<td><%= @can_bo_li_lich_ct.cap_bac_quan_doi.ten_cap_bac %></td>
</tr>
<tr>
	<th><b>Thương binh hạng:</b></th>
	<td><%= @can_bo_li_lich_ct.hang_thuong_binh.ti_le_thuong_tat %></td>
</tr>

</table>

<p class="submits">
  <%= link_to 'Sửa thông tin cán bộ', edit_casein_can_bo_li_lich_ct_path(@can_bo_li_lich_ct), :class => 'update', :style => "text-decoration:none; color: #fff;" %>
</p>
</div>


<%= content_for :sidebar do %>
    <li><%= link_to "#{casein_show_icon "add"}Thêm mới lý lịch chính trị cán bộ".html_safe, new_casein_can_bo_li_lich_ct_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới lý lịch chính trị cán bộ từ excel".html_safe, import_from_excel_casein_can_bo_li_lich_cts_path %></li>
	<li><%= link_to "#{casein_show_icon "table"}Danh sách lý lịch cán bộ".html_safe, casein_can_bo_li_lich_cts_path %></li>
<% end %>