<div class="blk-share">
<h2>Chi tiết Ngạch</h2>
<table class="details">
	<tr>
		<th><b>Mã Ngạch</b></th>
		<td><%= @ngach.ma_ngach %></td>
	</tr>
	<tr>
		<th><b>Tên Ngạch</b></th>
		<td><%= @ngach.ten_ngach %></td>
	</tr>
	<tr>
		<th><b>Niên hạn</b></th>
		<td><%= @ngach.nien_han %></td>
	</tr>
	<tr>
		<th><b>Ghi chú</b></th>
		<td><%= @ngach.ghi_chu %></td>
	</tr>
</table>
</div>
<p class="submits">
<%= link_to 'Sửa thông tin ngạng', edit_casein_ngach_path(@ngach), :class => 'update', :style => "text-decoration:none; color: #fff;" %>
</p>
</div>


<%= content_for :sidebar do %>
	<li><%= link_to "#{casein_show_icon "add"}Thêm mới ngạch".html_safe, new_casein_ngach_path %></li>
    <li><%= link_to "#{casein_show_icon "import"}Thêm mới ngạch từ tập tin excel".html_safe, import_from_excel_casein_ngaches_path %></li>
	<li><%= link_to "#{casein_show_icon "table"}Danh sách ngạch".html_safe, casein_ngaches_path %></li>
<% end %>